.productContainer {
  padding: 1vh;
  border: 1px solid lightgray;
  border-radius: 5%;
}

.productImage {
  border-radius: 4% 4% 0 0;
  transition: 0.5s ease;
}

.productTitle {
  font-size: 1.2em;
}

.productPrice {
  font-size: 0.8em;
}

.productInfo {
  transition: 0.5s ease;
}

.productTitle,
.productPrice {
  display: flex;
}

.productTitle span,
.productPrice span {
  margin: 0 auto;
}

.productContainer:hover .productImage {
  transform: scale(0.95);
}
