.margin-top {
  margin-top: 10vh;
}

.grid {
  margin: 5vh 5vh 5vh 5vh;
}

.featured h1 {
  margin: 0 auto;
}

.cartTable{
  padding-top:40px;
}

.checkoutCard{
  padding-top:40px;
  float:right;
  

}
.priceBox{
  padding-left:60px
  
}